@media screen and (max-width: 768px) {
  .productContent {
    flex-direction: row; /* Restore flex direction for larger screens */
  }

  .product-filter {
    max-width: 280px; /* Adjusted for larger screens */
    overflow: hidden; /* Ensure filter doesn't overflow horizontally on smaller screens */

  }



  .product-view {
    width: 70%;
  }


  .product-price {
    margin-left: 0;
  }

  .form-inputMsg .form-textarea {
    width: 36%;
    padding: 8px;
    max-height: 100px;
}
.form-submitBtn {
  padding: 8px 34px;
  margin-top: 12px;

}
}