*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f2f4;
  overflow-x: hidden;

}
html{
  overflow-x: hidden;

}

.container{
  height: 528px;
  max-width: 750px;
  margin: 40px auto;
  background-color: #fff;
  display: flex;
  position: relative;
}

.left-content{
  height: 100%;
  width: 336px;
  background-color: #2874F0;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 50px;
}

.left-content .left-content-title{
  font-size: 28px;
  font-weight: 400;
}

.left-content .left-content-txt{
  font-size: 16px;
  margin-top: 16px;
  line-height: 150%;
  color: #dbdbdb;
}

.left-content {
    background-image: url(https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png);
    background-color: #2874f0;
    color: #fff;
    padding: 40px 33px;
    color: #2874F0;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* RIGHT SIDE CONTENT */

.right-content {
  padding: 56px 35px 16px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: relative;
}

.right-content-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-elem {
  padding: 8px 10px 5px 0;  /*34px*/
  width: 100%;
  font-size: 14px;
  color: #000;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  position: relative; 
}

.input-elem:focus{
  outline: none; 
  border-bottom: 1px solid #2874F0; 
}

.input-elem::placeholder{
  font-size: 14px;
}
.mobNo-area-code{
  position: absolute;
  left: 0;
  top: 8px;
  padding-right: 4px;
  border-right: 1px solid #c2c2c2;
  display: none;
}

#errorDiv{
  color: #ff6161;
    font-size: 12px;
    font-weight: 500;
  display: none;
}

.form-terms-txt{
  font-size: 12px;
  margin-top: 16px;
  color: #878787;
}

.form-terms-txt a{
  text-decoration: none;
  font-size: 12px;
  color: #2874f0;
}

.right-content-btn{
  background: #fb641b;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  width: 100%;
  height: 48px;
  font-size: 15px;
}

.right-content-signup-link a{
  text-decoration: none;
  font-weight: 500;
  color: #2874f0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}


.fetch-otp-container{
  padding: 56px 35px 16px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: relative;
  display: none;
}

.fetch-otp-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-userId{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#changeUserId{
  color: #2874f0;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.fetch-content-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}



.fetch-content-form input{
  padding: 8px 10px 5px 0;
  width: 30px;
  font-size: 20px;
  color: #000;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  position: relative; /* Added position relative */
  margin: 20px 0;
  text-align: center;
}



.fetch-content-form input:focus{
  outline: none; 
  border-bottom: 2px solid #2874F0; 
}

#otpContainer{
  font-size: 10px;
  margin-top: 6px;
  color: #878787;  
}

.otp-submit-btn{
  background: #2874F0;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  width: 100%;
  height: 48px;
  font-size: 15px;
}

.resend-otp-content{
  margin: 32px 0 0;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.resend-txt{
  font-size: 14px;
  color: #878787;
}

.resend-code{
  font-size: 14px;
  color: #2874f0;
  font-weight: 500;
  cursor: pointer;
}


#userNotifiedContainer{
  display: none;
}

.notificatin-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #000;
  color: #e0e0e0;
  height: 40px;
  max-width: 700px;
  padding: 5px 13px;
  position: absolute;
  top: 90%;
  left: 30%;
}



@media (max-width: 980px){

.left-content {
    width: 240px;
    padding: 40px 14px;
}
.left-content .left-content-txt{
  font-size: 12px;
}
.left-content .left-content-title{
  font-size: 18px;
}

.right-content-btn{
  height: 30px;
  font-size: 12px;
}

.right-content-signup-link a{
  font-size: 10px;
}


}

@media (max-width: 500px){
  .container{
    height: 400px;
    margin: 30% auto;

  }

  .left-content .left-content-txt{
    font-size: 8px;
  }
  .left-content .left-content-title{
    font-size: 16px;
  }



  .input-elem{
    font-size: 10px;
  }

  .input-elem::placeholder{
    font-size: 8px;
  }

  
  .right-content{
    padding: 47px 15px 16px;
  }

  .form-terms-txt{
    margin-top: 8px;
  }
  

  .form-terms-txt {
    font-size: 5px;
}
.form-terms-txt a{
  font-size: 6px;
}

.right-content-btn{
  height: 20px;
  font-size: 8px;
}
.right-content-signup-link a{
  font-size: 8px;
}

.form-title{
  font-size: 10px;
}

.login-id{
  font-size: 12px;
}
#changeUserId{
  font-size: 10px;
}
.form-userId{
  gap: 2px;
}
.otp-submit-btn{
  height: 30px;
  font-size: 12px;
}
.resend-txt{
  font-size: 8px;
}
.resend-code{
  font-size: 10px;
}

.notificatin-content{
  font-size: 7px;
  gap: 5px;
  height: 20px;
  padding: 2px 8px;
  left: 25%;
  transform: translateX(-50% -50%);
}
.successIcon img{
  height: 10px;
  width: 10px;  
}

}

  