* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Update the CSS for the body */
body {
  background-color: #f1f2f4;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
  font-size: 12px;
  color: #000;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation Menu */

.main-nav {
  width: 100vw;
  height: 60px;
  background-color: #ffffff;
  font-size: 16px;
  padding: 7px 0;
  position: fixed;
  z-index: 9999;
}

.nav-item {
  width: 100vw;
  padding: 0;
}
.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 23px;
}

.main-nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: rgb(61, 61, 61);
  display: flex;
  align-items: center;
}

.main-nav-link ion-icon {
  width: 24px;
  height: 24px;
  color: #000;
  margin-right: 8px;
}

.main-nav-list input {
  background-color: #f0f5ff;
  border-radius: 5px;
  text-overflow: ellipsis;
  padding-left: 35px;
  padding-right: 10px;
  border: 0;
  outline: 0 none;
  font-size: 17px;
  height: 40px;
  width: 50vw;
}

.seach-icon {
  position: absolute;
  top: 7px;
  color: #000;
  opacity: 0.5;
  margin-left: 3px;
  font-size: 23px;
}
.seach-input li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-outline {
  position: relative;
}

.recent-search {
  display: none;
}
.recent-search.active {
  display: block;
}

.recent-search .container {
  height: 300px;
  width: 100%;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  z-index: 9999;
  padding-left: 0;
}

.recent-search h5 {
  color: #666;
  margin-bottom: 5px;
  margin-left: 5px;
}

.recent-search ul {
  list-style: none;
}

.recent-search ul a {
  text-decoration: none;
  color: #666;
  font-size: 13px;
}

.recent-search ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.recent-search ul li:hover {
  background-color: #f0f5ff;
}
.recent-search li img {
  height: 40px;
  width: 30px;
  margin-left: 12px;
}

.login-btn {
  position: relative;
}

.login-card {
  width: 250px;
  height: 280px;
  border-radius: 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 8px;
  position: absolute;
  top: 40px;
  display: none;
  background-color: #ffffff;
}

.hover-card {
  display: block;
}
.login-card ul {
  margin-left: 10px;
}
.login-card li {
  list-style: none;
  display: flex;
  gap: 5px;
  margin-bottom: 16px;
  font-size: 16px;
}

.login-card li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.login-card .newCustomer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.login-card li .signup-btn {
  color: #2a55e5;
  font-weight: 600;
}

#arrow-icon {
  transition: transform 0.4s ease-in-out;
}

.arrow-up-icon {
  transform: rotate(180deg);
  margin-left: 5px; /* Add margin for spacing */
}

.login-btn:hover .arrow-up-icon {
  transform: rotate(0deg);
  display: inline-block;
}

.login-btn:hover .login-nav {
  padding: 5px 0;
  background-color: #2a55e5;
  border-radius: 5px;
  color: #fff;
}

/* MAIN CONTENT REUUSE BODY */
main {
  background-color: #f1f2f4;
  padding: 65px 10px;
  flex: 1; /* This will make sure main takes the remaining height */
}

.container {
  max-width: 1350px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* product list images css */
main p {
  margin-bottom: 20px;
}

.product-content {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}
.prod-list img {
  height: 58px;
  width: 58px;
}

/* slider images css */
.slider .container {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.slide-img {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-img img {
  width: 100%;
  height: auto;
}

.slider .container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  background-color: #fff;
  color: #878787;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  height: 88px;
  width: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.prev-btn {
  left: 0;
  border-radius: 0 4px 4px 0;
}

.next-btn {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px 12px;
  border-radius: 20px;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.active-dot {
  background-color: #ffffff;
  width: 10px;
  height: 5px;
  border-radius: 10px;
}

/* product data css */

.card-content {
  overflow: hidden;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100vw;
  /* white-space: nowrap;
  overflow-x: auto; */
}

/* .product-container::-webkit-scrollbar {
  display: none;
} */

.product-card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #bbb;
}

.product-card img {
  width: 50%;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.product-card img:hover {
  transform: scale(1.1);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.product-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  color: #666;
}

.product-ads img {
  width: 230px;
  height: 280px;
}

.product-ads .container {
  padding: 8px 2px;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-title {
  padding-bottom: 25px;
}

.product-title {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02px;
  font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
}

/* footer code */

.footer {
  background-color: #212121;
  height: 100%;
  width: 100%;
}

.footer .container {
  background-color: #212121;
  box-shadow: none;
}

.grid {
  display: grid;
}

.grid--footer {
  grid-template-columns: repeat(6, 1fr);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}

.footer-heading {
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.footer-nav li a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.footer-nav li a:hover {
  border-bottom: 1px solid #fff;
}
.footer-nav p {
  color: #f1f2f4;
}

.footer .container::after {
  content: "";
  display: block;
  border-bottom: 1px solid #666;
  margin-top: 50px; /* Adjust as needed for spacing */
}

.footer-hr::after {
  content: "";
  display: block;
  border-right: 1px solid #666;
  margin-left: 10px;
  margin-right: 20px;
  height: 100%;
  margin-top: -100px;
}

.footer-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 25px;
}

.footer-policy a {
  text-decoration: none;
  color: #f1f2f4;
  font-weight: 600;
}

.footer-policy p {
  color: #f1f2f4;
  font-weight: 600;
}

.footer-policy ion-icon {
  height: 12px;
  width: 12px;
  color: #ddb814;
}
